<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lorenwang.test.android">

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.net.NetMvpActivity"
            android:exported="true" />
        <activity
            android:name=".activity.net.NetMvvmActivity"
            android:exported="true" />
        <activity
            android:name=".activity.net.NetActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsJava.BeanActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsJava.CommonActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsJava.CustomToolsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.KerleyOrDottedActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.textview.TimeShowActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.textview.MarqueeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.SudokuSwipeGesturesActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.RecycleItemDecorationActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.RadioGroupActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.ProgressActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.HotViewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsAndroid.MobileSystemInfoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.splash.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.customToolsAndroid.MobileInfoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsAndroid.FlyMessageActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsAndroid.LocationActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsAndroid.image.ImageLoadingActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsAndroid.image.ImageCommonActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.ShadowActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsAndroid.FileActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsAndroid.DesktopShortcutActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsAndroid.CheckActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsAndroid.ViewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsAndroid.StatusBarActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsAndroid.SpannableActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsAndroid.ScreenActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsAndroid.BrightnessChangeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsAndroid.ActivityActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsAndroid.CustomToolsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.WheelViewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.CustomViewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.graphicCodeScan.CameraActivity"
            android:exported="true" />
        <activity
            android:name=".activity.graphicCodeScan.GraphicCodeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsAndroid.MobileNotificationActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.EdittextActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsAndroid.image.ImageSelectActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.carousel.CarouselActivity"
            android:screenOrientation="landscape"
            android:exported="true" />
        <activity
            android:name=".activity.customView.touch.TouchOptionsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.validation.ValidationActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.CalendarActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.video.VideoPlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".activity.customView.video.VideoPlayListActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsAndroid.image.ImageListBitmapActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.textview.CustomDrawableButtonActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.titlebar.TitleBarHeadViewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.ZoomableImageViewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.graphicCodeScan.CodeGenerateActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.viewpager.FragmentAndBannerActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.DialogsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.viewpager.ViewPager2Activity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.viewpager.BannerActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.textview.ShowPriceTextViewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.ShowQuantityOfCommodityActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.RecycleViewPageActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.TabLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".activity.graphicCodeScan.ScanCodeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DataParseActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customToolsAndroid.ToastActivity"
            android:exported="true" />
        <activity
            android:name=".activity.bluetooth.BluetoothActivity"
            android:exported="true" />
        <activity
            android:name=".activity.anim.AnimActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.SideBarActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.SwitchButtonActivity"
            android:exported="true" />
        <activity
            android:name=".activity.customView.ImageViewActivity"
            android:exported="true" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f8971f2365e197c4bb3c0e483a14eff5" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="AK" /> <!-- 高德地图定位key -->
        <meta-data
            android:name="TencentMapSDK"
            android:value="F7WBZ-5BBRW-GECR3-O2HBK-N22YT-3UFB3" /> <!-- 百度定位key -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- 腾讯定位服务key -->
        <service android:name="com.amap.api.location.APSService" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 读取存储 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 写入存储 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 手机联系人读取 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 软件安装权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES " />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission
        android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />

</manifest>
